.table {
    [class~='ant-table-tbody'] {
        [class~='action'] {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    [class~='ant-rate'] {
        [class~='anticon-star'] {
            font-size: 12pt;
        }
    }
}
