.table {
    [class~='ant-table-tbody'] {
        [class~='action'] {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    [class~='dv-star-rating'] {
        label {
            font-size: 1rem;
        }
    }
}
