@import 'styles/colors.scss';

.actions {
    &__menu {
        padding: 0.5rem;
    }

    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        &:hover {
            color: $primary;
            background: $dark10;
        }

        a {
            color: $dark;
            text-decoration: none;
            &:hover {
                color: $primary !important;
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
