@import 'styles/dimensions.scss';

.articleModal {
    top: $padding !important;
    [class~='ant-typography'] {
        margin-bottom: 0;
    }

    &__wrap::before {
        vertical-align: text-top;
    }
}
