@import 'colors.scss';
@import 'dimensions.scss';

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

[class~='ant-layout-header'] {
    background: $header;
    padding: 0 $padding;
}

[class~='ant-layout'] {
    background: $white;
}

[data-content-padding] {
    padding: calc(#{$content-padding} / 2) 0;
}

[class~='anticon'] {
    vertical-align: middle;
}

[class~='ant-form-item-with-help'],
[class~='ant-form-item-has-error'] {
    margin-bottom: $padding !important;
}

textarea {
    &::-webkit-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-ms-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }
}

[class~='ant-form-item-explain-error'] {
    margin-top: 0.2rem;
}
