@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.layout {
    min-height: 100vh;
    overflow: hidden;

    &__main {
        width: 100%;

        &__content {
            &[data-sidenav-expanded='false'] {
                padding: $padding;
            }
            &[data-sidenav-expanded='true'] {
                padding: calc(#{$content-padding} / 1.4) $content-padding;
            }

            margin-top: $header-height;

            @include mediaXS {
                padding: $mobile-content-padding !important;
            }

            @include mediaSM {
                padding: calc(#{$mobile-content-padding} * 2) !important;
            }
        }
    }
}
