@import 'styles/colors.scss';

.tableTitle {
    &__button {
        display: flex;
        justify-content: start !important;
        color: $dark;
        &::hover {
            color: $black;
        }
        [class~='anticon'] {
            line-height: 32px;
            font-size: 14pt;
        }
    }
    &__typography {
        margin-bottom: 0 !important;
    }
}
