@import 'styles/colors.scss';

.cropping {
    position: relative;
    &__upload {
        > span {
            background-color: $neutral !important;
            padding: 0px !important;
            position: relative;
        }
        &__hint {
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            align-items: center;
            flex-flow: column;
            justify-content: center;
            background-color: rgba($neutral, 0.7) !important;
            [class~='anticon'] {
                font-size: 2.5rem;
            }
        }
        &__inner {
            &__canvas {
                position: relative;
                &::before {
                    height: 0;
                    content: '';
                    display: block;
                    padding-bottom: calc(100% / (1600 / 900));
                }
                & > :first-child {
                    object-fit: cover;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }
        }
    }
}
