@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.fileUploader {
    cursor: pointer;
    padding: calc(#{$padding} * 1.2);

    display: flex;
    flex-flow: column;
    justify-content: center;

    border-radius: $border-radius;
    border: 1px solid rgba($grey, 0.65);
    background-color: $neutral !important;

    &__result {
        [class~='ant-alert-banner'] {
            border-radius: $border-radius;
            background: rgba($color: $link, $alpha: 0.1);
        }
    }

    [data-image-icon='true'] {
        svg {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    [class~='ant-typography'] {
        font-size: 12px;
        text-align: center;
    }

    input {
        display: block !important;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 99;
        cursor: pointer;
    }
}
