@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.videoTabs {
    padding-bottom: $padding;

    [class~='ant-tabs-ink-bar'] {
        background: $primary;
        height: 0.2rem !important;
    }

    [class~='ant-tabs-tab-btn'] {
        font-size: 12pt;
    }

    [class~='ant-tabs-nav'] {
        margin-bottom: 2rem;
        border-bottom: 1px solid $dark10;
    }

    @include mediaXS {
        [class~='ant-tabs-tab-btn'] {
            font-size: 10pt;
        }
    }
}
