@import 'styles/dimensions.scss';

.updateAccount {
    height: 100%;
    [class='ant-card-body'] {
        padding: $padding calc($padding * 2);
    }

    [data-title='true'] {
        margin-bottom: 1.2rem;
    }
}
