@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.login {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $bg-primary-dark;

    &__card {
        width: 45%;
        display: inline-block;

        padding: $padding;
    }
}
